@font-face {
  font-family: Raleway-Bold;
  src: url('/antoine-dewaele.github.io/src/assets/fonts/Raleway-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Raleway;
  src: url('/antoine-dewaele.github.io/src/assets/fonts/Raleway-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Raleway-Medium;
  src: url('/antoine-dewaele.github.io/src/assets/fonts/Raleway-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Raleway-Light;
  src: url('/antoine-dewaele.github.io/src/assets/fonts/Raleway-Light.ttf');
  font-weight: 600;
}


body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
}